business_rules_enhanced==1.4.7
## Required for the business rules for Python 3.12.12+
pytz==2025.2
cdisc-library-client==0.1.6
click==8.3.1
importlib-metadata==8.7.1
jsonpath-ng==1.7.0
jsonschema==4.26.0
numpy==2.4.1
odmlib==0.1.4
openpyxl==3.1.5
pandas==3.0.0
pre-commit==2.20.0
python-dotenv==1.2.1
pyyaml==6.0.3
redis==4.5.0
requests~=2.32.3
setuptools~=75.6.0
cachetools==5.5.0
Pympler==1.1
psutil==7.2.1
dask[dataframe]==2026.1.1
dask[array]==2026.1.1
pyreadstat==1.3.3
fastparquet==2025.12.0
psycopg2==2.9.11
pgserver==0.1.4